{% extends 'base.html.njk' %}

{% block content %}
  <h1>Welcome, {{ userName }}</h1>
  <div class="fossils-container">
    {% for key, fossil in fossils %}
      <div class="fossil-div">
        <h3>{{ userName }}, this is a {{ fossil.name }}</h3>
        <p>Likes: {{ fossil.num_likes }}</p>
        <img src="{{ fossil.img }}" alt="{{ fossil.name }}">
      </div>
    {% endfor %}
  </div>
  <form action="/like-fossil" method="post">
    <label for="dropdown">Select a Fossil to Like: </label>
    <select id="dropdown" name="fossilId">
      {% for key, fossil in fossils %}
        <option value="{{ key }}">{{ fossil.name }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Like This Fossil">
  </form>
  <a href="/">Go Back to the Homepage</a>


{% endblock %}